{% extends "layout.html.twig" %}

{% block pageHeader %}Editar Lugar{% endblock %}
{% block optionalDescription %}{{ lugar.lu_id }}{% endblock %}
{% block content %}
    <div class="alert alert-danger alert-dismissable" id="alert" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Uno de los campos obligatorios se encuentra vacio, revise la informacion e intente de nuevo
            <i class="icon fa fa-ban"></i></h4>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Editar Lugar</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" id="editLugarForm">
                    <div class="box-body">
                        <div class="form-group col-md-6">
                            <label for="inputId">ID</label>
                            <input type="text" class="form-control" id="inputId" value="{{ lugar.lu_id }}" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" value="{{ lugar.lu_nombre }}" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputUnionEU">Union EU</label>
                            <input type="text" class="form-control" id="inputUnionEU" value="{{ lugar.lu_union_eu }}" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputTipo">Tipo</label>
                            <input type="text" class="form-control" id="inputTipo" value="{{ lugar.lu_tipo }}" >
                        </div>
                        {% if lugar.pais %}
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputPais">Pais</label>
                            <input type="text" class="form-control" id="inputPais" value="{{ lugar.pais  }}" >
                        </div>
                        {% endif %}
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
        </div><!-- /col -->
    </div><!-- /row -->

{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $("#editLugarForm").submit(function (event) {
                if($("#inputId").val().length == 0 ||
                        $("#inputNombre").val().length == 0 ||
                        $("#inputTipo").val().length == 0 )
                {
                    $("#alert").show();
                    event.preventDefault();
                }
                else {
                    $.ajax({
                        url: "/lugares/update?newid=" + $('#inputId').val() + "&" +
                        "nombre=" + $("#inputNombre").val() + "&" +
                        "tipo=" + $("#inputTipo").val() + "&" +
                        "unioneu=" + $("#inputUnionEU").val() + "&" +
                        "pais=" + $("#inputPais").val() + "&" +
                                "id={{ lugar.lu_id }}"
                        ,
                        method: "POST",
                        dataType: 'json',
                        encode: true
                    })
                            .done(function (data) {
                                console.log(data);
                                window.location = "/lugares";
                            });
                }

            });
        });

    </script>
{% endblock %}